.view {
  text-align: center;
  padding: 3rem;
}

.heading {
  font-family: var(--header-font);
  font-size: 3rem;
  font-weight: 500;
  padding: 1.5rem 0;
}

.content {
  font-family: var(--content-font);
  padding-bottom: 3rem;
}

.map {
  height: 500px;
  width: 100%;
}

.building__img {
  width: 100%;
  max-height: 150px;
  display: block;
  margin: auto;
}

.building__city {
  font-weight: 600;
}

.building__title {
  font-weight: bold;
}

.table {
  margin-top: 3rem;
}
