.report {
  background-color: rgba(30, 71, 102, 0.05);
  padding: 4rem 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.leaflet-container {
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: var(--main-black);
}

.description {
  font-family: var(--content-font);
  font-size: 1.5rem;
  color: var(--content-grey);
  text-align: center;
}

.form--container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .form--container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 1.5rem;
  }

  .description {
    font-size: 3rem;
  }
}
