.header {
  height: 70vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80s');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--main-white);
  margin: auto auto 0; 
  text-transform: capitalize;
  font-size: 3rem;
}

.description {
  color: var(--main-white);
  margin: 0 auto auto;
  font-size: 1.5rem
}

.share-btn {
  position: absolute;
  bottom: 40vh;
  background-color: var(--main-color--light);
  color: var(--main-white);
  border-color: var(--main-color--light);
}

.share-btn:hover {
  color: var(--main-white)
}

.select > div {
  background-color: var(--main-color--light);
  border: var(--main-color--light);
  color: var(--main-white);
}
