.form {
  flex-basis: 48%;
  height: 100%;
  background-color:var(--main-white);
  padding:  2% 4% 7%;
  position: relative;
}

.steps {
  margin-bottom: 4%;
}

.item {
  margin-bottom: 3%;
}

.cityItem {
  margin-bottom: 0;
}

.white:hover {
  color:var(--main-white);
}

.action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0;
  padding: 0px 3.40rem;
}

.ml-0 {
  margin-left: 0 !important ;
}